header{
    nav{
        display: flex;
        justify-content: left;
        align-items: center;
        height: 50px;
        background-color: bisque;

        li{
            margin: auto 20px;
            text-decoration: none;
            list-style: none;
           
            a{
                cursor: pointer;
            }
        }

       
    }
}