@import url('https://fonts.cdnfonts.com/css/lcd');

.body-calculator{
    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
        margin: 20px auto;
    }
    
    .div-calculatorBody {
        display: flex;
        flex-direction: column;
        background-color: gray;
        width: 350px;
        height: 500px;
        margin: auto auto;

        border-top: 10px solid #e9e9e9;
        border-right: 10px solid #a1a1a1;
        border-bottom: 10px solid #6e6e6e;
        border-left: 10px solid #cecece;

        .div-commandView {
            background-color: white;
            width: 300px;
            height: 100px;
            margin: 20px auto;

            box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.49) inset;
            -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.49) inset;
            -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.49) inset;

            display: flex;
            flex-direction: column;
            textarea {
                //font-family: 'LCD', sans-serif;
                //font-family: 'LCD2', sans-serif;
                //font-family: 'LCDMono2', sans-serif;
                font-family: 'LCDMono', sans-serif;
                //font-family: 'Digitalism', sans-serif;
                resize: none;
                width: 100%;
                height: 40px;
                background-color: #48e1ff29;
                border: none;
                text-align: right;
                vertical-align: middle;
                font-size: 24px;
                align-content: center;
                padding: 0px 20px;
                &#result {
                    font-size: 32px;
                }
            }
            
        }

        .div-buttons {
            display: grid;
            margin: 20px 30px;
            height: 100%;
            gap: 10px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-template-areas:
            "C     div   mult min"
            "seven eight nine plus"
            "four  five  six  plus"
            "one   two  three eq"
            "zero  zero  dot  eq";

            button {
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.49);
                -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.49);
                -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.49);

                border-top: 5px solid #e9e9e9;
                border-right: 5px solid #a1a1a1;
                border-bottom: 5px solid #6e6e6e;
                border-left: 5px solid #cecece;
                background: #e2e2e2;

                &:active {
                    border-top: 5px solid #6e6e6e;
                    border-right: 5px solid #cecece;
                    border-bottom: 5px solid #e9e9e9;
                    border-left: 5px solid #a1a1a1;
                    background: #e2e2e2;

                    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.49);
                    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.49);
                    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.49);
                }
            }

            .misc {
                grid-area: C;
            }

            .divi {
                grid-area: div;
            }
            .mult {
                grid-area: mult;
            }
            .min {
                grid-area: min;
            }
            .plus{
                grid-area: plus;
            }
            .equal{
                grid-area: eq;
            }            
            .zero {
                grid-area: zero;
            }
            .one {
                grid-area: one;
            }
            .two {
                grid-area: two;
            }
            .three {
                grid-area: three;
            }
            .four {
                grid-area: four;
            }
            .five {
                grid-area: five;
            }
            .six {
                grid-area: six;
            }
            .seven {
                grid-area: seven;
            }
            .eight {
                grid-area: eight;
            }
            .nine {
                grid-area: nine;
            }
            .dot {
                grid-area: dot;
            }

        }
    }
}
